<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head' );%>

</head>

<body>
    <header>
        <%- include ( '../partials/header' );%>
    </header>
    <main class="main">

        <section class="seccion-uno-cuenta-marcas">

            <article class="on-page-cuenta-marcas-cuadro">

                <div class="opcu-cuadro-marcas-uno">

                    <div class="opcu-marca-nombre">
                    </div>

                    <div class="opcu-marca-imagen">
                    </div>
                    <div class="opcu-marca-comentario">
                        <textarea></textarea>
                    </div>
                </div>

                <div class="opcu-cuadro-marcas-dos">
                </div>

                <div class="opcu-cuadro-marcas-tres">
                    <a href="/crearmercaderiamarcas">Crear una nueva mercaderia</a>
                </div>

            </article>

        </section>
        <section class="seccion-dos">

        </section>
    </main>
    <footer>
        <%-include ('../partials/footer'); %>
    </footer>
</body>

</html>